.App {
  text-align: center;
}

form {
  margin-top: 3rem;
}

form input[name="ville"],
form input[name="pays"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
  
.container {
  margin-top: 1.2rem;
}

.container input,
.container ::-webkit-input-placeholder {
  color: white !important;
}
.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid tomato;
}

